<div class="">
    <form>
        <div class="mb-3">
            <label for="adi" class="form-label">Adı</label>
            <input [(ngModel)]="adi" name="adi" type="text" class="form-control" id="adi">
        </div>
        <div class="mb-3">
            <label for="soyadi" class="form-label">Soyadı</label>
            <input [(ngModel)]="soyadi" name="soyadi" type="text" class="form-control" id="soyadi">
        </div>
        <button class="btn btn-primary" (click)="sorgula()">Sorgula</button>
    </form>
</div>