.top {
    width: 100%;
    height: 5rem;

    img {
        height: 3rem;
    }
}

.alt {
    width: 100%;
    height: calc(100vh - 7rem);
    display: flex;

    .menu {
        height: 100%;
        width: 9rem;
        margin-right: 1rem;
    }

    .icerik {
        height: 100%;
        width: 100%;
    }

}